   
@media only screen and (max-device-width: 450px) {
  .content-container{
    width: 96vw;
    max-width: 96vw;
  
  }

  
.section-hero {
  height: auto;
}

  .barra-navegacao {
    width: 100%;
    margin-top: 24px;
  }
  
  .hero-info {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    
  }

  .hero-info-imagem {
    width: 30vw;
   
  }

 .habilidades-card-container {

  row-gap: 40px;
  grid-template-columns: auto ;
  margin-top: 12px;

}

.section-experiences-card { 
  width: 90vw;
  
}


.section-portfolio-grid {
  row-gap: 40px;
  grid-template-columns: auto;
  margin-top: 24px;

}


.footer-container {
  width: 100%;

}

}